/* (A) STANDARD ROW HEIGHT */
.vwrap, .vitem {
  height: 30px;
  line-height: 30px;
  width: 100%;
}
 
/* (B) FIXED WRAPPER */
.vwrap {
  overflow: hidden; /* HIDE SCROLL BAR */
  background: #49a942;
}
/* (C) TICKER ITEMS */
.vitem { text-align: center;
		 }
 
/* (D) ANIMATION - MOVE ITEMS FROM TOP TO BOTTOM */
/* CHANGE KEYFRAMES IF YOU ADD/REMOVE ITEMS */
.vmove { position: relative; }
@keyframes tickerv {
  0% { bottom: 0; } /* FIRST ITEM */
  30% { bottom: 30px; } /* SECOND ITEM */
  60% { bottom: 60px; } /* THIRD ITEM */
  90% { bottom: 90px; } /* FORTH ITEM */
  100% { bottom: 0; } /* BACK TO FIRST */
}
.vmove {
  animation-name: tickerv;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(1, 0, .5, 0);
}
.vmove:hover { animation-play-state: paused; }


    .button {
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }

    .button1 {
      background-color: #4CAF50;
    }

    /* Green */
    .button2 {
      background-color: #008CBA;
    }

    /* Blue */
    .button3 {
      background-color: #ff0000;
    }

    /* Red */
    .button4 {
      background-color: #e4e73b;
    }

    /* Yellow */
	
    .image {
      height: 50px;
    }

    .image2 {
      height: 100px;
    }

    .image3 {
      height: 35px;
    }

   .image {
      height: 50px;
    }

    .image2 {
     height: 200px;
    }

    .image3 {
      height: 35px;
    }
	
    body {
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
    }

    .navbar {
      overflow: hidden;
      background-color: #333;
      position: fixed;
      bottom: 0;
      width: 100%;
    }

    .navbar a, #user-select-group {
      float: left;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }

    .navbar a:hover {
      background: #ff0000;
      color: black;
    }

    .navbar a.active {
      background-color: #04AA6D;
      color: white;
    }

    .main {
      padding: 16px;
      margin-bottom: 30px;
    }
 .btn {
      display: block;
      height: 300px;
      width: 300px;
      border-radius: 50%;
      border: 10px solid rgb(68, 67, 67);
    }

    .button {
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }

	
	
#incidents{
	font-size: 1.5em;
	background: yellow;
	border: 1px solid black;
}	
#incident.div {
	display: block;
	margin: 10px;
}
	
/*------------------------statick footer------------------------*/
.footer1 {
  position:fixed;
  bottom:0;
  left:0;
  width: 100%;
  height: 150px;
  background-color: white;
  padding: 10px;
  margin: 2px;
}
.footer1 ul{
  list-style-type: none;
  padding: 0;
  overflow: hidden;
}
.footer1 ul li{
	display: inline;
}

.icon-style {
  height:75px;
  margin-left:2px;
  margin-top:5px;
  margin-bottom: 10px;
}

.icon-style1 {
  height:100px;
  margin-left:2px;
  margin-top:5px;
  margin-bottom: 10px;
}
/*--------------------------------wrapper----------------------------------*/
.wrapper{
  width: 960px;
  margin: auto;
  padding: 30px;
  padding-bottom:160px;
  
}

/*----------------------------Top Navigation ------------------------------*/
.topnav{
  overflow: hidden;
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 100;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: #D2D2D2;
  color: black;
}

.topnav a.active {
  background-color: #49a942;
  color: white;
}

.topnav .icon {
  display: none;
}
.topnav-centered{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*----------------------------Dropdown Button----------------------------- */
.dropbtn {
  background-color: #49a942;
  color: white;
  padding: 16px;
  font-size: 1.5em;
  border: none;
}
.dropdown {
  position: relative;
  display: inline-block;
  width: 33%;
  text-align: center;
}
.dropdown a {
 text-decoration:none;
 color: white; 
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #D2D2D2;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 1.5em;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

/*------------------------------MEDIA QUERIES------------------------------*/
@media screen and (max-width: 960px){ /*screen sizes less than 960px wide*/
.wrapper{
  width: 600px;
}
.dropdown {
  width: 100%;
}
.main-img{
  width: 100%;
}
.icon-style{
	width: 30%;
}
.topnav-centered{
	width:90%;
	margin: auto;
}

@media screen and (max-width: 600px) {/*screen sizes less than 600px */
/*----------------------------TOP NAV @600---------------------------*/
.wrapper{
  width: 300px;
}
.dropdown {
  width: 100%;
}

.topnav a:not(:first-child) {
  display: none;
}
.topnav a.icon {
  float: right;
  display: block;
}
.topnav.responsive {
  position: relative;
}
.topnav.responsive .icon {
  position: absolute;
  right: 0;
  top: 0;
}
.topnav.responsive a {
  float: none;
  display: block;
  text-align: left;
}
.vitem { font-size: 9px;
		 }

}
